In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn
import plotly.express as px

In [2]:
data_dir = '/run/user/1000/gvfs/smb-share:server=titan.local,share=datasets/kitchenware-classification'

In [3]:
df_train_full = pd.read_csv(data_dir+'/train.csv', dtype={'Id': str})
df_extra = pd.read_csv(data_dir+'/data.csv', dtype={'Id': str})
df_train_full = pd.concat([df_train_full, df_extra], ignore_index = True)
df_train_full['filename'] = data_dir+'/images/' + df_train_full['Id'] + '.jpg'
df_train_full.head()

     Id  label                                           filename
0  0560  glass  /run/user/1000/gvfs/smb-share:server=titan.loc...
1  4675    cup  /run/user/1000/gvfs/smb-share:server=titan.loc...
2  0875  glass  /run/user/1000/gvfs/smb-share:server=titan.loc...
3  4436  spoon  /run/user/1000/gvfs/smb-share:server=titan.loc...
4  8265  plate  /run/user/1000/gvfs/smb-share:server=titan.loc...

In [4]:
df_train_full.label.value_counts()

plate    1698
cup      1625
spoon    1512
knife    1357
glass    1020
fork      776
Name: label, dtype: int64